* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.styles_img{
    width: 100%;

}


.card-title{
    font-family: var(--tipografia_principal);
    font-size: 45px;
    color: rgb(255, 255, 255);
}
.card-text{
    font-family: var(--Alumni);
    font-size: 22px;
}

.style_border1{
    border: 1px solid rgba(255, 255, 255, 0.104);
    border-radius: 5px;
    transition: 1s;

}


.style_border1:hover{
    background-color: rgb(255, 255, 255);
    transition: 1.5s;
    .card-title{
        color: rgb(5, 5, 5);
    }
    .styles_icon{
        font-size: 30px;
        color: black;
    }
}

.bg_color{
    background-color: white;
}

.fondo{
    background-color: white;
    /* border-radius: 5px; */
}

.img_reservas{
    width: 500px;
}

.color_text h2 {
    color: black;
}

.title_values{
    font-family: var(--tipografia_principal);
  font-size: 45px;
  color: rgb(28, 26, 26);
  text-align: center;
}

.list_values li{
    list-style: none;
    font-family: var(--Alumni);    font-size: 18px;
}

.styles_icon{
    font-size: 30px;
    color: white;
}

.styles_icon_values{
    font-size: 30px;
    color: black;
}

